.time{
  height:120px;
  width:270px;
  color:red;
  font-size:55px;
  font-weight: bold;
  background:silver;
  box-shadow:2px 2px 10px black;
  border-radius:15px;
  text-align:center;
  line-height:100px;
  text-shadow:2px 2px 10px black, 5px 5px 15px white;
  margin:30px auto;
}
button{
  width:100px;
  font-size: 20px;
  margin:5px;
  padding:5px;
  box-shadow:2px 2px 10px black;
  text-shadow:2px 2px 10px grey;
  border-radius:10px;
  border:2px solid grey;
}
